/* Imported font from Google Fonts */ 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

/* Reset Point */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #a1c3ff;
}

img {
    max-width: 100%;
}

